@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
  --green: #00A676;
  --white: #F7F9F9;
  --almond: #E0D0C1;
  --brown: #69423A;
  --red: #CC3000;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  
  html {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--almond);
    color: var(--brown);
    font-weight: 300;
  }
  
  h1,
  h2,
  h3 {
    font-weight: 300;
    font-family: 'DM Serif Display', serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
/* Navbar ---------------------------------------------------------------------------------------- */

.navbar {
  max-width: 1440px;
  margin: auto;
  background-color: var(--white);
}
.nav-link {
  color: var(--brown);
  letter-spacing: 0.25em;
  font-weight: 400;
  font-size: 0.8em;
}
.nav-link:hover {
  color: var(--red);
}
.nav-link:focus {
  color: var(--red);
}

/* Main Admin ---------------------------------------------------------------------------------------- */

.admin {
  max-width: 1440px;
  margin: auto;
}
.admin h2{
  font-size: 3em;
  color: var(--brown);
}
.admin h4 {
  font-size: 1.5em;
  color: var(--red);
}
.cardspace {
  width: 400px;
}
.cd-basic {
  height: 350px;
}
.card-body {
  overflow-y: auto;
}
.acronym {
  background-color: var(--green);
  color: var(--white);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  font-size: 16px;
}
.acronym:hover {
  background-color: var(--brown);
  color: var(--white);
}
.cd-product {
  min-height: 350px;
}

/* Button classic (add/validate) for cards and modals */

.bt-classic{
  background-color: var(--red);
  color: var(--white);
  letter-spacing: 0.1em;
}
.bt-classic:hover {
  background-color: var(--green);
  color: var(--white);
}

/* Buttons for deleteProduct modal */

.bt-yes {
  background-color: var(--green);
  border-color: var(--green);
}
.bt-no {
  background-color: var(--red);
  border-color: var(--red);
}
.bt-yes:hover {
  background-color: var(--almond);
  border-color: var(--almond);
}
.bt-no:hover {
  background-color: var(--brown);
  border-color: var(--brown);
}